rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read and write access to everything
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}